<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

    <div class="container">
        <div class="column">
            <% posts.forEach(function(post, index){ %>
                <h5>
                    <%= post.title %>
                </h5>
                <p>
                    <%= post.post %>
                </p>
                <span><%= post.author %></span>
                <span><%= post.date %></span>
                <a href="edit/<%= post._id %>">Modifier</a>
                <a href="/delete/<%= post._id %>">Supprimer</a>
                
                <% }) %>
        </div>
        <a href="/">retour</a>
    </div>

    

    








    <%- include partials/footer.ejs %>